.community-holder {
  // background: var(--gray);
  background: white;
  min-height: 240px;
  padding: 0 16px;
}

// Separate title to enable better control over positioning and layout
.community-title-holder {
  text-align: center;
}

.profile-holder {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-column-gap: 16px;
  justify-content: center;
}

.community-holder-footer {
  color: var(--gray);
  font-size: small;
  text-align: center;
}