
.base {
	display: grid;
	grid-template: 
		'header'
		'navbar'
		'body'
		'footer';
	grid-template-rows: var(--header-height) var(--navbar-height) var(--body-height) var(--footer-height);
	width: 100%;
	height: 100%;
	min-width: 100vw;
	min-height: 100vh;
}