.card {
  text-align: center;
  // max-width: 160px;
  border-radius: 3px;
  display: inline-block;
}

$card-img-height: 140px;
.card-img {
  display: inline-block;
  background: var(--gallery);
  border: 1px solid var(--gallery);
  width: $card-img-height;
  height: $card-img-height;
  border-radius: 50%;
}

.card-info__name {
  font-weight: bold;
  color: var(--dodger-blue);
}