/*
 * Example color variables
 * For naming, go to www.namethatcolor.com
**/
$coral-red: #FF4444;
$turquoise: #66bb66;
$cod-gray: #171717;
$anakiwa: #92B2FF;
$mercury: #e7e7e7;
$silver: #b8b8b8;
$wild-sand: #F4F4F4;
$tundora: #444444;
$dove-gray: #696969;

/*
 * Social media colors
**/
$facebook: #4267B2;
$dodger-blue: #326CF8;


// Pie Chart colors

$monza: #d70206;
$burnt-sienna: #f05b4f;
$saffron:#f4c63d;
$indochine: #d17905;
$a: #453d3f;
$b: #59922b;
$c: #0544d3;
$d: #6b0392;
$e: #f05b4f;
$f: #dda458;

