/*
 * Example color variables
 * For naming, go to www.namethatcolor.com
**/
$coral-red: #ff4444;
$turquoise: #2BECA8;
$perano: #AABFF7;
$ship-cove: #6A7EB6;
$mine-shaft: #333333;
$cod-gray: #171717;
$dusty-gray: #9c9c9c;
$cornflower-blue: #0671FF;
$mercury: #e7e7e7;

$royal-blue : #5C2FEB;
$blue-ribbon: #005dff;
$dodger-blue: #00b8ff;
$doppel-blue: #2f80eb;
$turqoise: #2feba8;
$cerise-red: #eb2f78;
$flamingo: #eb4a2f;
$alizarin-crimson: #eb322f;
$bright-sun: #fdce3b;
$white-haze: #fff691;
$silver: #b8b8b8;

/*
 * Social media colors
**/
$facebook: #4267B2;
