:root {
  --alabaster: #F7F7F7;
  --gallery: #EEEEEE;
  --gray: #888888;
  --green-white: #EBEBDF;
  --husk: #B3AF44;
  --woodland: #374620;
  --mine-shaft: #252525; }

:root {
  --header-height: 60px;
  --navbar-height: 40px;
  --body-height: 1fr;
  --footer-height: 40px; }
