:root {
	// Colors
	--alabaster: #F7F7F7;
	--gallery: #EEEEEE;
	--gray: #888888;

	// Base layout dimensions
	--header-height: 60px;
	--navbar-height: 40px;
	--body-height: 1fr;
	--footer-height: 40px;
}