:root {
	// Colors
	--alabaster: #F7F7F7;
	--gallery: #EEEEEE;
	--gray: #888888;

	// Theme
	--green-white: #EBEBDF;
	--husk: #B3AF44;
	--woodland: #374620;
	--mine-shaft: #252525;
}

:root {
	// Base layout dimensions
	--header-height: 60px;
	--navbar-height: 40px;
	--body-height: 1fr;
	--footer-height: 40px;
}