.event-holder,
.meetup-holder,
.volunteer-holder {
  margin: auto;
  max-width: 800px;
  background: white;
  padding: 0 16px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); }

.event-holder-title,
.meetup-holder-title,
.volunteer-holder-title {
  font-size: 14px;
  font-weight: bold; }

.event-dot {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background: var(--dodger-blue);
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px; }

.event-info {
  display: inline-block;
  vertical-align: middle; }

.event-holder-footer {
  color: var(--gray); }
