.event-holder {
	margin: auto;
	max-width: 960px;
	background: white;
	padding: 16px;
}

$event-dot-height: 10px;
.event-dot {
	border-radius: 50%;
	height: $event-dot-height;
	width: $event-dot-height;
	background: var(--dodger-blue);
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.event-info {
	display: inline-block;
	vertical-align: middle;
}