@import '../../../styles/placeholder.scss';

.event-holder,
.meetup-holder,
.volunteer-holder {
	@extend %card;
}

.event-holder-title,
.meetup-holder-title,
.volunteer-holder-title {
	font-size: 14px;
	font-weight: bold;
}
$event-dot-height: 8px;
.event-dot {
	border-radius: 50%;
	height: $event-dot-height;
	width: $event-dot-height;
	background: var(--dodger-blue);
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.event-info {
	display: inline-block;
	vertical-align: middle;
}

.event-holder-footer {
	color: var(--gray);
}