.header {
	height: var(--header-height);
	line-height: var(--header-height);
	padding: 0 16px;
	background: var(--dodger-blue);
	color: white;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}

.brand {
	text-decoration: none;
	color: inherit;
	font-size: 20px;
}